.Logo-White {
  width: 259px;
  height: 64px;
}

.Memegenerator_White {
  width: 196px;
  height: 38px;
  object-fit: contain;
  font-family: SourceSansPro;
  font-size: 30px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;

  .text-style-1 {
    font-weight: 600;
  }
}
