<!DOCTYPE html>
<html>
<head>
	<title>Meme Generator</title>
  <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="scss/bootstrap.min.css">
	<link type="text/css" rel="stylesheet" href="css/style.min.css">
</head>
<body class="Background">
	<header class="navbar fixed-top">
		<div class="Logo-White">
			<div class="Memegenerator_White">
				<img src="img/memegenerator-white.png">
			</div>
		</div>
<!-- <button onclick="myFunction()">Hello!!</button>
		<p id="demo"></p> -->.
	</header>
	<div class="container-fluid text-center text-black"">


	<script src="js/bootstrap.min.js"></script>
	<script src="scripts/bundle.js"></script>
</body>
</html>
